{% extends "base.html" %} {% block title %}Change Password{% endblock %} {%
block content %}
<div class="change-password-container">
  <h1>CHANGE PASSWORD</h1>
  <form method="POST" action="{{ url_for('change_password') }}">
    {% if user_id %}
    <input type="hidden" name="user_id" id="user_id" value="{{user_id}}" />
    {% endif %}
    <label for="new_password">Enter New Password</label>
    <input type="password" id="new_password" name="new_password" required />
    <button type="submit">Change Password</button>
  </form>
</div>
{% endblock %}
